<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="no.entur.android.nfc.external.hid.test.heartbeat.MainApplication"
        android:usesCleartextTraffic="true"
        >

        <service android:name="no.entur.android.nfc.external.mqtt.test.MqttBrokerService" />
        <service android:name="no.entur.android.nfc.external.hid.HidMqttService" />

    </application>

</manifest>
