name: Build snapshot and deploy to Maven Central
on:
  workflow_dispatch

jobs:
  snapshot:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Gradle publish snapshot artifacts
        run: |
          echo $SONATYPE_GPG_KEY | base64 --decode | gpg --batch --no-tty --import --yes
          ./gradlew build publishToSonatype -Psigning.gnupg.passphrase=$SONATYPE_GPG_KEY_PASSWORD -Psigning.gnupg.keyName=$SONATYPE_GPG_KEY_NAME -PsonatypeUsername=$SONATYPE_AUTH_USER -PsonatypePassword=$SONATYPE_AUTH_TOKEN  --info --stacktrace
        env:
          SONATYPE_GPG_KEY: ${{ secrets.SONATYPE_GPG_KEY }}
          SONATYPE_GPG_KEY_PASSWORD: ${{ secrets.SONATYPE_GPG_KEY_PASSWORD }}
          SONATYPE_GPG_KEY_NAME: ${{ secrets.SONATYPE_GPG_KEY_NAME }}
          SONATYPE_AUTH_USER: ${{ secrets.SONATYPE_AUTH_USER }}
          SONATYPE_AUTH_TOKEN: ${{ secrets.SONATYPE_AUTH_TOKEN }}


